# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds and production outputs
dist-build/
.env

# OS & local binary outputs
.DS_Store
Thumbs.db
/*.exe
/*.zip
!UnioTechIT Setup 1.0.0.exe
