# Safe cPanel & Node.js Application .htaccess configuration
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect HTTP to HTTPS
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Enable WebSocket Proxying for Socket.io on cPanel / Apache / LiteSpeed
  RewriteCond %{HTTP:Upgrade} =websocket [NC]
  RewriteCond %{HTTP:Connection} upgrade [NC]
  RewriteRule ^socket.io/(.*) ws://127.0.0.1:3000/socket.io/$1 [P,L]
</IfModule>

# Prevent directory browsing
Options -Indexes

